In [1]:
#import libraries
import pandas as pd

In [2]:
binance_raw_dataset = pd.read_csv(r"C:\Users\motieno\Downloads\Data Science\python\Statitistics\Capstone\Crypto_Classifier\data\raw\raw_data.csv")
binance_raw_dataset.head()

,open_time,open,high,low,close,volume,close_time,quote_asset_volume,num_trades,taker_base_volume,taker_quote_volume,ignore
0,1678320000000,21704.37,21834.99,20042.72,20362.22,443658.28584,1678406399999,9.403029e+09,10076702,217900.59621,4.619804e+09,0
1,1678406400000,20362.21,20367.78,19549.09,20150.69,618456.46710,1678492799999,1.234499e+10,12106261,308155.80993,6.151475e+09,0
2,1678492800000,20150.69,20686.51,19765.03,20455.73,427831.82133,1678579199999,8.651591e+09,10412300,213151.47855,4.310534e+09,0
3,1678579200000,20455.73,22150.00,20270.60,21997.11,430944.94288,1678665599999,8.982418e+09,9721933,218639.06880,4.558128e+09,0
4,1678665600000,21998.05,24500.00,21813.88,24113.48,687889.31259,1678751999999,1.582500e+10,14820760,346688.17025,7.976620e+09,0

In [3]:
binance_raw_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   open_time           1000 non-null   int64
 1   open                1000 non-null   float64
 2   high                1000 non-null   float64
 3   low                 1000 non-null   float64
 4   close               1000 non-null   float64
 5   volume              1000 non-null   float64
 6   close_time          1000 non-null   int64
 7   quote_asset_volume  1000 non-null   float64
 8   num_trades          1000 non-null   int64
 9   taker_base_volume   1000 non-null   float64
 10  taker_quote_volume  1000 non-null   float64
 11  ignore              1000 non-null   int64
dtypes: float64(8), int64(4)
memory usage: 93.9 KB

In [4]:
binance_processed_dataset = pd.read_csv(r"C:\Users\motieno\Downloads\Data Science\python\Statitistics\Capstone\Crypto_Classifier\data\processed\processed_data.csv", parse_dates=["open_time", "close_time"])
binance_processed_dataset.head()

,open_time,open,high,low,close,volume,close_time,quote_asset_volume,num_trades,taker_base_volume,taker_quote_volume,ignore
0,2023-03-09,21704.37,21834.99,20042.72,20362.22,443658.28584,2023-03-09 23:59:59.999,9.403029e+09,10076702,217900.59621,4.619804e+09,0
1,2023-03-10,20362.21,20367.78,19549.09,20150.69,618456.46710,2023-03-10 23:59:59.999,1.234499e+10,12106261,308155.80993,6.151475e+09,0
2,2023-03-11,20150.69,20686.51,19765.03,20455.73,427831.82133,2023-03-11 23:59:59.999,8.651591e+09,10412300,213151.47855,4.310534e+09,0
3,2023-03-12,20455.73,22150.00,20270.60,21997.11,430944.94288,2023-03-12 23:59:59.999,8.982418e+09,9721933,218639.06880,4.558128e+09,0
4,2023-03-13,21998.05,24500.00,21813.88,24113.48,687889.31259,2023-03-13 23:59:59.999,1.582500e+10,14820760,346688.17025,7.976620e+09,0

In [5]:
binance_processed_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   open_time           1000 non-null   datetime64[ns]
 1   open                1000 non-null   float64
 2   high                1000 non-null   float64
 3   low                 1000 non-null   float64
 4   close               1000 non-null   float64
 5   volume              1000 non-null   float64
 6   close_time          1000 non-null   datetime64[ns]
 7   quote_asset_volume  1000 non-null   float64
 8   num_trades          1000 non-null   int64
 9   taker_base_volume   1000 non-null   float64
 10  taker_quote_volume  1000 non-null   float64
 11  ignore              1000 non-null   int64
dtypes: datetime64[ns](2), float64(8), int64(2)
memory usage: 93.9 KB